.fc {
	width: 22.5em;
	margin: 0 auto;
}
.fc-daygrid {
	height: 20em;
}
.fc .fc-toolbar.fc-header-toolbar {
	height: 4em;
	margin: 0;
}
.fc .fc-toolbar.fc-header-toolbar h2 {
	font-size: 1em;
	margin: 0 1em;
}
.fc .fc-toolbar.fc-header-toolbar button {
	height: 2.5em;
	border: 0.2em solid #e37f44;
	background-color: #e37f44;
	color: #fefae0;
	opacity: 1;
}
.fc .fc-toolbar.fc-footer-toolbar {
	padding-top: 2em;
}
.fc .fc-toolbar.fc-footer-toolbar button {
	height: 2.5em;
	border: 0.2em solid #e37f44;
	background-color: #e37f44;
	color: #fefae0;
	opacity: 1;
}
.fc .fc-toolbar.fc-footer-toolbar button:enabled {
	height: 2.5em;
	border: 0.2em solid #e37f44;
	background-color: #e37f44;
	color: #fefae0;
	opacity: 1;
}
